<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <nav class="login_nav">
    <%= link_to "/splash_screen" do %>
      <img src="https://img.icons8.com/sf-regular-filled/48/000000/left.png" alt="back arrow">
    <% end %>
    <h3>REGISTER</h3>
    <div class="actions_login">
      <%= f.submit "Next" %>
    </div>
  </nav>
  <div class="field_signup">
    <%= f.text_field :photo,  autofocus: true, placeholder: "Photo link (optional)" %>
    <%= f.text_field :name,  autofocus: true, autocomplete: "Name", required: true, placeholder: "Full name" %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>
<% end %>

